.label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.ipt {
  display: block;
  width: 100%;
  margin-bottom: 0.875rem;
  border: none;
  padding: 0.875rem;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn {
  display: block;
  color: white;
  background-color: black;
  padding: 0.875rem;
  border-radius: 5px;
  cursor: pointer;
}
